<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog Spot</title>
   <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="text-med bg-lime-600 text-white flex">
    
      <h1>
        <a href="/" class="px-4 py-3 block hover:bg-lime-500">
      Tech Blog Spot
      </a>
      </h1>
      <nav class="ml-auto flex">
         <a href="/" class="px-4 py-3 block hover:bg-lime-500">Home</a>
      
        {{#if logged_in}}

        <a href="/dashboard" class="px-4 py-3 block hover:bg-lime-500">Dashboard</a>

        <button class="no-button px-4 py-3 block hover:bg-lime-500" id="logout">Logout</button>
       
        {{else}}
        <a href="/login" class="px-4 py-3 block hover:bg-lime-500">Login</a>

        {{!-- <a href="/signup" class="px-4 py-3 block hover:bg-lime-500">Sign Up</a> --}}
        {{/if}}
      </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
