<div class="flex flex-row">
  <div class="basis-1/2 border border-solid border-lime-700 rounded p-5">
    <h2 class="text-xl font-bold mb-5">Signup</h2>
    <form class="form signup-form mb-5">
      <div class="form-group mb-5">
        <label for="username-signup">username:</label>
        <input class="form-control block w-full px-3 py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
              type="text"
              id="username-signup" />
      </div>
      <div class="form-group mb-5">
        <label for="password-signup">password:</label>
        <input class="form-control block w-full px-3 py-1.5
              text-base
              font-normal
              text-gray-700
              bg-white bg-clip-padding
              border border-solid border-gray-300
              rounded
              transition
              ease-in-out
              m-0
              focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded" type="submit">Signup</button>
      </div>
    </form>
    <a href="/signup" class="text-lime-600 hover:text-lime-700 focus:text-lime-600 text-underline">Already have an account? Login</a>
  </div>
</div>

<script src="/js/signup.js"></script>